:root {
    --d-green: #4E685E;
    --d-sage: #829B93;
    --o-white: #f5f2eb;
}

* {
    margin: 0;
    padding: 0;
}


header {
    position: inline-block;
    height: 100px;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: var(--d-green);
}

footer {
    position: absolute;
    height: 15px;
    width: 100%;
    bottom: 0;
    text-align: right;
    font-size: 11px;
    border-top: 0.2px solid var(--d-sage);
    color: var(--d-green);
    right: 5%;
}

.pt-btns {
    position: absolute;
    width: 21px;
    height: 21px;
    font-size: 13px;
    border-radius: 100%;
    color: var(--o-white);
    background-color: transparent;
    border: 0;
}

.pt-btns:hover {
    cursor: pointer;
    background-color: var(--o-white);
    color: var(--d-sage);
}

#edit-btn {
    right: 15%;
}

#rm-btn {
    right: 4%;
}

/* 
-
SIDE PANEL CSS
-
*/

.side-panel {
    position: absolute;
    height: 100vh;
    width: 250px;
    background-color: var(--d-sage);
}

nav {
    margin: 20px;
}

ul {
    list-style-type: none;
}

li {
    margin: 6px;
    list-style-type: none;
}

.main-list {
    font-size: 20px;
}

a {
    color: var(--o-white);
    text-decoration: none;
    font-weight: bold;
}

h2 {
    color: var(--d-sage);
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 30px;
}

.proj-title {
    margin-left: 10px;
    color: #293b3b; 
    font-size: 20px;   
}

.projBtn {
    position: relative;
    left: 28%;
    margin: 10px;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    font-size: 50px;
    background-color: var(--o-white);
    color: var(--d-green);
}

.projBtn:hover {
    cursor: pointer;
    background-color: var(--d-green);
    color: var(--o-white);
}

.projBtn:active {
    box-shadow: 2px 2px 4px rgba(35, 103, 231, 0.2);
}

.input-container {
    position: relative;
    width:200px;
    display:block;
}

.form-input {
    height: 25px;
    border-radius: 10px;
    margin: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 17px;
    color: var(--d-green);
    border: 0.5px var(--d-green);
}

.input-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    font-size: 16px;
    border-radius: 100%;
    border: 1px solid var(--d-green);
}

.input-btn:active {
    box-shadow: 2px 2px 4px rgba(35, 103, 231, 0.2);
}

.input-tick {
    right: -15px;
}

.input-cross {
    right: -40px;
}

#edit-proj-form {
    left: 2%;
    top: 2%;
    border: 1px solid var(--d-green);
}

.project-list {
    color : var(--o-white);
    font-size: 18px;
    margin-left: 10px;
    width: 200px;
}


/*
-
MAIN PAGE CSS
-
*/

.main-page {
    height: 100vh;
    background-color: var(--o-white);
    margin-left: 240px;
}

.proj-pages {
    position: relative;
    margin-left: 20px;
}

.new-task-btn {
    width: 40vw;
    height: 25px;
    font-size: 18px;
    padding-top: 5px;
    padding-left: 40px;
    color: var(--o-white);
    background-color: #a5c0b5;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 50px;
}

.new-task-btn:hover {
    cursor: pointer;
    border: 1px solid var(--d-green);
    color: var(--d-green);
}

/*
    TASK FORM CSS

*/

#task-header {
    /* margin: 3px auto; */
    margin-bottom: 20px;
    /* left: 50px; */
    color: #36504e; 
    font-size: 20px;   
}

.task-creation-container {
    position: fixed;
    background-color: rgba(56, 79, 82, 0.8);
    width: 100%;
    height: 100%;
    z-index: 100;
}

.task-box{
    width:400px;
    height: 330px;
    background-color: #f5f2eb;
    border-radius: 10px;
    border: 1px solid var(--d-green);
    margin: 0 auto;
    margin-top: 30vmin;
}

input[type="radio"] {
    z-index: 101;
}

.task-form {
    position: relative;
    width: 380px;
    height: 220px;
    margin: 5px auto;
    margin-left: 40px;
    margin-top : 40px;
}

.task-cancel-btn {
    position: relative;
    left: 93%;
    bottom: 80%;
    /* transform: translateY(10%); */
    width: 20px;
    height: 20px;
    font-size: 16px;
    border-radius: 100%;
    border: 1px solid var(--d-green);
    margin: 3px;
}

.task-radio-options {
    margin: 5px;
}

.task-confirm-btn { 
    margin-top: 5%;
    margin-left: 35%;
}

legend {
    margin: 0;
    padding: 0;
}

fieldset {
    width: 350px;
    border: transparent;
    padding: 2px;
}

#task-priority-form, #task-progress-form {
    display: inline-block;
}

#task-priority-form {
    margin: 5px 90px 5px 0;
}

/*
TASKLIST LABEL
*/

.tasklist-item > div {
    display: flex;
    margin-left: 50px;
    height: 55px;
    border-radius: 5px;
    background-color: #becec0;
    width: 70%;
    padding: 15px 15px 5px 15px;
}

.tasklist-item > div:hover {
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(41,59,59, 0.5);
}

.priority-circle{
    position: relative;
    content: '/u2611';
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 1.5px solid var(--d-green);
    border-radius: 10px;
    top: 23%;
}

.high-priority{
    background-color: red;
}

.medium-priority{
    background-color: yellow;
}

.low-priority{
    background-color: cyan;
}

.task-label-right {
    display: flex;
}

.task-title-label {
    margin: 0 50px 0 40px;
}

.task-label-description {
    margin-left: 40px;
}

.task-label-duedate {
    margin-left: 30%;
    width: 150px;
}

.task-buttons {
    width: 30px;
    height: 30px;
    top: 10px;
}

.task-edit-btn {
    position:relative;
    right: 5%;
    margin-left: 5%;
}

.task-delete-btn {
    position:relative;
    right: 3%;
    margin-left: 3%;
}