:root {
    --d-green: #4E685E;
    --d-sage: #829B93;
    --o-white: #f5f2eb;
}

* {
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    height: 100px;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: var(--d-green);
}

footer {
    position: absolute;
    height: 15px;
    width: 100%;
    bottom: 0;
    text-align: right;
    font-size: 11px;
    border-top: 0.2px solid var(--d-sage);
    color: var(--d-green);
    right: 5%;
}

.side-panel {
    position: absolute;
    height: 100vh;
    width: 250px;
    background-color: var(--d-sage);
}

h3 {
    margin-left: 10px;
    color: #293b3b; 
    font-size: 20px;   
}

.projBtn {
    position: relative;
    left: 28%;
    margin: 10px;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    font-size: 50px;
    background-color: var(--o-white);
    color: var(--d-green);
}

.projBtn:hover {
    cursor: pointer;
    background-color: var(--d-green);
    color: var(--o-white);
}

.projBtn:active {
    box-shadow: 2px 2px 4px rgba(35, 103, 231, 0.2);
}

.input-container {
    position: relative;
    width:200px;
}

.form-input {
    height: 25px;
    border-radius: 10px;
    margin: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 17px;
    color: var(--d-green);
    border: 0.5px var(--d-green);
}

.input-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    font-size: 16px;
    border-radius: 100%;
    border: 1px solid var(--d-green);
}

.input-btn:active {
    box-shadow: 2px 2px 4px rgba(35, 103, 231, 0.2);
}

.input-tick {
    right: -15px;
}

.input-cross {
    right: -40px;
}

nav {
    padding: 20px;
}

ul {
    list-style-type: none;
}

li {
    margin: 5px;
}

.main-list {
    font-size: 20px;
}

a {
    color: var(--o-white);
    text-decoration: none;
    font-weight: bold;
}


.main-page {
    height: 100vh;
    background-color: var(--o-white);

}